@model TopicListEntryViewModel

@section Styles {
    <link href="@Url.Content("~/css/topic-list.css")" rel="stylesheet" />
}

<!-- Can't wrap whole tr in <a> so getting multiple of then -->
<tr>
    <td class="title">
        <a asp-route-topicId="@Model.TopicId" asp-controller="Topic" asp-action="Index">
            @Model.Title
        </a>
    </td>
    <td class="author">
        <a asp-route-topicId="@Model.TopicId" asp-controller="Topic" asp-action="Index">
            @Model.AuthorUsername
        </a>
    </td>
    <td class="replies">
        <a asp-route-topicId="@Model.TopicId" asp-controller="Topic" asp-action="Index">
            @Model.Replies
        </a>
    </td>
    <td class="aiews">
        <a asp-route-topicId="@Model.TopicId" asp-controller="Topic" asp-action="Index">
            @Model.Views
        </a>
    </td>
    <td class="activity">
        <a asp-route-topicId="@Model.TopicId" asp-controller="Topic" asp-action="Index">
            @Model.LastActivity
        </a>
    </td>
</tr>