@using FORUM_PROJECT.Utils
@model Topic

@{
    ViewData["Title"] = @Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/post.css" />
}

@section Scripts {
    <script src="~/js/add-post.js"></script>
}

<h1 class="mb-3">@Model.Title</h1>
@foreach (var currentPost in @Model.Posts)
{
    <div id="post-@currentPost.Id" class="post" data-post-id="@currentPost.Id">
        <div class="d-flex">
            <p class="post-username">
                @if (currentPost.Author != null)
                {
                    @currentPost.Author.UserName
                }
                else
                {
                    @("UFO");
                }
            </p>
            @if (currentPost.Author != null && currentPost.Author.UserName == User.Identity.Name)
            {
                <button type="button" class="btn btn-primary edit-post-button"
                        data-toggle="modal"
                        data-target="#editPostModal">
                    <i class="fas fa-edit"></i>
                </button>
            }
        </div>
        <p class="post-message">@currentPost.Message</p>
        <p class="post-time-published text-muted">@currentPost.TimePublished.GetElapsedTimeHumanReadable()</p>
    </div>
}

<section>
    <h2 class="mt-4 mb-2">Add Post</h2>
    <form id="add-post-form" data-topic-id="@Model.Id">
        @*
        Can't set form to pristine state, but want to empty textarea after submit while using ajax.
        After emptying it becomes invalid (has been focused already), but it is actually valid from UX perspective
        Tried to replace dom node, but we use window.location.reload
        So disabling the border here, there probably is a better solution
        *@


        @@DisplayNameFor only needs type, will not fail on null@@
        <textarea class="form-control pristine" name="addPostMessage" required rows="8"
                  placeholder="@Html.DisplayNameFor(model => model.Posts.First().Message)"></textarea>
        <button class="btn btn-primary mt-3" type="submit"><i class="fas fa-paper-plane"></i> Post</button>
    </form>
</section>

<partial name="_EditPost"/>

@* Kind of weird to pass url but there is no option to get it in separate js file: they are not parsed by ASP.Net MVC View Engine *@
<script>
    $(document).ready(() => {
        const addPostActionUrl = '@Url.Action("AddPost", "Post")';
        setAddPostEvent(addPostActionUrl);
    });
</script>