@model Topic
@{
    ViewData["Title"] = @Model.Title;
}

<h1>@Model.Title</h1>
@foreach (var currentPost in @Model.Posts)
{
    <div style="border: 1px solid black;">
        <p>@currentPost.Author.UserName</p>
        <p>@currentPost.Message</p>
        <p>@currentPost.TimePublished</p>
    </div>
}

<div>
    <h2>Add Post</h2>
    <form asp-action="AddPost" asp-controller="Topic" method="post">
        <textarea class="form-control" name="postMessage"></textarea>
        <button class="btn btn-primary" type="submit">Post</button>
        <input type="hidden" name="topicId" value="@Model.Id"/>
        @Model.Id
    </form>
</div>